{% extends "base.html" %}

{% block content %}
<section class="contact-section">
    <div class="section-content">
        <h2>Get In Touch</h2>
        <div class="contact-info">
            <a href="mailto:mail@keerthigowda.com" class="contact-link">
                <i class="fas fa-envelope"></i>
                Email Me
            </a>
            <a href="https://www.linkedin.com/in/keerthi-gowdad11/" class="contact-link">
                <i class="fab fa-linkedin"></i>
                LinkedIn
            </a>
            <a href="https://github.com/hyperwolf24" class="contact-link">
                <i class="fab fa-github"></i>
                GitHub
            </a>
        </div>
    </div>
</section>
{% endblock %} 