{% extends "base.html" %}

{% block title %} Keerthi Gowda {% endblock %}

{% block content %}
<div class="container mt-5 music-container">
    <div class="row mb-5">
        <div class="col-md-6 mb-3 mb-md-0">
            <div class="image-gallery">
                <img src="{{ url_for('static', filename='images/mridangam1.jpeg') }}" alt="Keerthi with Mridangam" 
                     class="img-fluid rounded music-image">
                <img src="{{ url_for('static', filename='images/concert.jpeg') }}" alt="Chennai Concert. Trichy Sankaran Playing Mridangam" 
                     class="img-fluid rounded music-image">
                <img src="{{ url_for('static', filename='images/ganapa.webp') }}" alt="Ganapathi with Mridangam" 
                     class="img-fluid rounded music-image">
            </div>
        </div>
    </div>
    
    <h1 class="mb-5 music-title">My Musical Journey</h1>
    
    <p class="mb-4" style="color: #ccd6f6; line-height: 1.6; position: relative; z-index: 10;">
        My journey with music began during my school days, but I developed a significant interest in Carnatic music in late 2024.
    </p>
    
    <div class="row mt-5 pt-5">
        <div class="col-md-6 mb-4">
            <div class="music-card" style="margin-bottom: 20px;">
                <h3>Mridangam</h3>
                <p>
                    I started learning Mridangam in May 2025, excited to explore its rhythms and deepen my connection with the instrument.
                </p>
            </div>
        </div>
        
        <div class="col-md-6 mb-4">
            <div class="music-card" style="margin-bottom: 20px;">
                <h3>Harmonium</h3>
                <p>
                    Recently started learning Carnatic harmonium.
                </p>
            </div>
        </div>
    </div>
    
    <div class="row mt-4">
        <div class="col-md-6 mb-4">
            <div class="music-card" style="margin-bottom: 20px;">
                <h3>Yakshagana</h3>
                <p>
                    Recently started learning Yakshagana (Tenku Tittu Style).
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %} 