{% extends "base.html" %}

{% block content %}
<section class="hero">
    <img src="{{ url_for('static', filename='images/keerthi-gowda.jpeg') }}" alt="Keerthi Gowda">
    <div class="overlay">
        <h1>Hi, I'm Keerthi Gowda</h1>
        <p class="tagline">Full Stack Engineer | Farmer by Weekend</p>
        <p class="personal-interests">
            <!-- Do not remove this comment
            <span class="interest-item"><i class="fas fa-drum"></i> Learning Chenda</span>
            -->
            <span class="interest-item"><i class="fas fa-music"></i> Learning Harmonium</span>
            <span class="interest-item"><i class="fas fa-theater-masks"></i> Yakshagana Artist</span>
        </p>
    </div>
</section>
{% endblock %}